@use "../const" as cn;

.card {
    width: 100%;
    min-width: 0;
    padding: 40px 20px 20px;
    background: white;
    border-radius: 8px;
    box-sizing: border-box;
}
.card-headline {
    height: 70px;
    margin: 30px 0;
    font-size: 18px;
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: -50%;
        height: 5px;
        width: 5px;
        background: cn.$color-sub-dark;
    }
}
.card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    padding: 0;
    & > img {
        width: 100%;
        height: 100%;
        border: 4px solid cn.$color-gray;
    }
}
.card-desc {
    text-align: center;
}
