@use "../const" as cn;

.course {
    margin-bottom: 70px;
    background: cn.$color-core;
    padding: 40px 0;
}
.course-container {
    display: flex;
    justify-content: center;
    padding: 0 30px;
}
.course-list {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}
.course-item {
    width: 30%;
    min-height: 230px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: 2px solid cn.$color-stream;
    text-align: center;
    transition: background .2s ease-in-out, transform .2s ease-in-out;
    &:hover {
        background: cn.$color-sub;
        cursor: pointer;
        transform: translateY(-4px);
    }
}
.course-footer {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    width: 100%;
    font-size: 20px;
    & > a:visited {
        text-decoration: none;
    }
}
.link-footer {
    color: #fff;
    border: .5px solid #fff;
    border-radius: 8px;
    padding: 15px;
    font-weight: bold;
    transition: background .2s ease-in-out, color .2s ease-in-out;
    &:hover {
        background: #fff;
        color: cn.$color-core;
    }
}

@media screen and (max-width: cn.$bp-sm) {
    .course-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .course-item {
        width: 80%;
    }
}
