@use "../const" as cn;

.headline {
    font-size: 80px;
    font-weight: bold;
    line-height: 0.9;
}
.headline-sub {
    font-size: 25px;
}
.headline-course {
    width: 100%;
    display: block;
    color: #fff;
    text-align: center;
}
