@use "../const" as cn;

.point {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: cn.$color-sub;
    margin-bottom: 50px;
}
.point-list {
    width: 100%;
    margin: 30px 0 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

@media screen and (max-width: cn.$bp-sm) {
    .point-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
