<section class="confirm">
    <div class="confirm-container">
        <h1 class="confirm-heading heading">Confirm</h1>
        <p>Name: <span class="confirm-name"></span></p>
        <p>Email: <span class="confirm-email"></span></p>
        <p>English Level: <span class="confirm-level"></span></p>
        <p>Purpose: <span class="confirm-purpose"></span></p>
        <p>Time: <span class="confirm-time"></span></p>
        <p>Message: <span class="confirm-message"></span></p>

        <form class="confirm-form" action="#" method="post">
            <button type="submit" class="send-btn">Send</button>
        </form>
    </div>
</section>
