<div class="hero">
    <div class="hero-headline">
        <span class="hero-main">Enhance your English skills while having fun!</span>
        <br>
        <div class="hero-sub">
            <span>Talk to 8 billion people around the world!</span>
            <a href="../modules/componens/description.html" class="details">Details</a>
        </div>
    </div>

    <div class="hero-images">
        <div class="hero-images-track">
            <% for(index = 0; index < 2; index++) { %>
                <div class="hero-images-list">
                   <img src="https://img.freepik.com/free-photo/young-woman-teaching-students-english-class-online_23-2148962958.jpg" alt="English teacher">
                   <img src="https://media.istockphoto.com/id/1025807324/photo/the-teacher-writes-english-rules-on-the-blackboard-learn-language.jpg?s=612x612&w=0&k=20&c=szzUbzPaqX071D--zDYlDkGHJMIMmQiGcGXsmL3etrM=" alt="English teacher">
                   <img src="https://thumbs.dreamstime.com/b/international-group-happy-smiling-people-diversity-immigration-friendship-concept-men-women-over-british-flag-89540027.jpg" alt="people from all over the world">
                   <img src="https://media.istockphoto.com/id/1727335145/vector/people-portraits-on-world-map.jpg?s=612x612&w=0&k=20&c=WICLl9WosEMsqwOigPR93FRv7UjQnnWQW73SFqwtApU=" alt="world map">
                   <img src="https://thumbs.dreamstime.com/b/people-holding-flags-their-country-41401454.jpg" alt="national flags of many countries">
                   <img src="https://img.freepik.com/free-vector/flat-international-human-solidarity-day-illustration_23-2149844029.jpg?semt=ais_hybrid&w=740&q=80" alt="people connecting hand in hand">
                </div>
            <% } %>
        </div>
    </div>
</div>
