<section class="thanks">
    <div class="thanks-container">
        <div class="heading thank-you">THANK YOU!</div>
        <div class="check-wrap">
            <svg class="circle" viewBox="0 0 100 100">
              <circle cx="50" cy="50" r="45"></circle>
            </svg>
            <div class="check-mark">✓</div>
        </div>

        <div class="main-text">
            <p class="thank-you-name"></p>
            <p>We'll contact you within 5 business days.</p>
            <p>We can't wait to see you in class!</p>
        </div>
        <div class="user-info">
            <div class="label">Your information</div>
            <p>Name: <span class="confirm-name"></span></p>
            <p>Email: <span class="confirm-email"></span></p>
            <p>English Level: <span class="confirm-level"></span></p>
            <p>Purpose: <span class="confirm-purpose"></span></p>
            <p>Time: <span class="confirm-time"></span></p>
            <p>Message: <span class="confirm-message"></span></p>
        </div>
    </div>
</section>
