$color-main: #b421cf;
$color-sub: #089184;
$color-sub-dark: #0e6b62;
$color-core: #212732;
$color-accent: #ff6d04;
$color-accent-light: #e77422;
$color-base: #e9e9e9;
$color-strong: #3058f7;
$color-stream: #313948;
$color-img-bg: #C5DDDD;
$color-gray: #ededed;
$color-black: #030304;
$color-light-gray: #D7D7D7;

$bp-lg: 1280px;
$bp-sm: 600px;
