// Reset
@use "base";

// Layout
@use "layout/header";
@use "layout/footer";

// Components
@use "components/nav";
@use "components/link";
@use "components/hero";
@use "components/headline";
@use "components/card";
@use "components/panel";
@use "components/contact";
@use "components/about";
@use "components/point";
@use "components/course";
@use "components/showcase";
@use "components/form";
@use "components/confirm";
@use "components/thanks";
@use "components/comparison";
@use "components/blog";
