@use "../const" as cn;

.header {
    width: 100%;
    position: absolute;
    z-index: 19;
}
.header-inner {
    margin: 0 20px;
}
.header-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo > img {
    width: 230px;
    height: auto;
}
